@charset "UTF-8";
/****** General ***********/
/* fonds gris */
/* vert clair */
/* vert foncé */
/* bleu clair */
/* bleu foncé */
/* mauve */
/* mauve */
/* gris */
/* gris-clair */
* {
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

h2,
h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-16 {
  font-size: 16px;
  text-decoration: none;
}
.text-16-ligth {
  font-weight: 300;
}
.text-16-medium {
  font-weight: 500;
}
.text-16-bold {
  font-weight: bold;
}

.text-18 {
  font-size: 18px;
}
.text-18-ligth {
  font-weight: 300;
}
.text-18-medium {
  font-weight: 500;
}
.text-18-bold {
  font-weight: bold;
}

.text-24 {
  font-size: 24px;
}
.text-24-ligth {
  font-weight: 300;
}
.text-24-medium {
  font-weight: 500;
}
.text-24-bold {
  font-weight: bold;
}

/***** LOADER *****/
.contain_loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin-fade-out 0s 3s forwards;
  z-index: 9;
}

.loader {
  position: relative;
  left: 50px;
  width: 100px;
  height: 100px;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  animation: 1500ms spin linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour-eiffel {
  width: 110px;
  height: 110px;
  color: #9356dc;
  position: relative;
  left: -26px;
  top: -2px;
  /*animation: 1500ms spin2 linear infinite;*/
}

.loader::before {
  width: 100px;
  height: 100px;
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-bottom: 5px solid #FF79DA;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes spin-fade-out {
  0% {
    transform: scaley(1);
  }
  100% {
    transform: scaley(0);
  }
}
@keyframes spin2-fade-out {
  0% {
    transform: scaley(1);
  }
  100% {
    transform: scaley(0);
  }
}
/***** FIN LOADER *****/
body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

/*** HEADER ***/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar .navbar__bouton-retour {
  position: absolute;
  font-size: 25px;
  left: 23px;
  color: black;
}
.navbar .navbar__bouton-retour.hide_page_index {
  display: none;
}
.navbar .entete__logo {
  display: block;
  height: 30px;
  width: 162px;
}

/* MAIN */
main {
  background-color: #eaeaea;
}

.localisation {
  width: 100%;
  height: 50px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  gap: 19px;
}

input[type=text] {
  width: 109px;
  height: 19px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: #F6F6F6;
}

.entete_restaurants {
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bouton__explorez {
  width: 218px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 57px;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bouton__explorez:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.fonctionnement {
  background-color: white;
  padding: 48px 0px 60px 20px;
}
.fonctionnement .fonctionnement_bar {
  padding: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
  gap: 25px;
}
@media (min-width: 767.99px) {
  .fonctionnement .fonctionnement_bar {
    flex-direction: row;
  }
}
.fonctionnement .fonctionnement_bar .fonctionnement_bar_etape {
  position: relative;
  padding-left: 12px;
  width: 95%;
}
.fonctionnement .fonctionnement_bar .fonctionnement_bar_etape .fonctionnement_bar_etape__nombre {
  display: inline-block;
  margin: 0px;
  position: absolute;
  left: 0px;
  top: 24px;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  line-height: 26px;
  text-align: center;
  border-radius: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 500;
  z-index: 1;
}
.fonctionnement .fonctionnement_bar .fonctionnement_bar_etape .fonctionnement_bar_etape__bouton {
  height: 72.38px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding-left: 33px;
  display: flex;
  align-items: center;
  gap: 27px;
  color: #7E7E7E;
  z-index: 0;
  filter: brightness(98%);
}
.fonctionnement .fonctionnement_bar .fonctionnement_bar_etape .fonctionnement_bar_etape__bouton:hover {
  filter: brightness(100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}
.fonctionnement .fonctionnement_bar .fonctionnement_bar_etape .fonctionnement_bar_etape__bouton:hover .fonctionnement_bar_etape_bouton__logo {
  color: #9356DC;
}
.fonctionnement .fonctionnement_bar .fonctionnement_bar_etape .fonctionnement_bar_etape__bouton .fonctionnement_bar_etape_bouton__texte {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  /*position:relative;
  left:74px;*/
}

/****** RESTAURANTS ******/
.restaurants {
  width: 100%;
  max-width: 1440px;
  padding: 59px 0px 66px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 30px 0px 30px 0px;
  }
}

.section_restaurants {
  box-sizing: border-box;
  width: 100%;
}
.section_restaurants .section_restaurants__titre {
  margin-left: 2%;
}
@media (min-width: 768px) {
  .section_restaurants .section_restaurants__titre {
    margin-left: 12.5%;
  }
}

.section_restaurants_cartes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
  width: 96%;
}
@media (min-width: 768px) {
  .section_restaurants_cartes {
    flex-direction: row;
    margin-left: 12.5%;
    width: 75%;
    gap: 7%;
  }
}

.carte_restaurant {
  position: relative;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*margin-top: 15px;*/
  width: 100%;
  height: 251px;
  margin-top: 18px;
}

.carte_restaurant__nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29px;
  width: 80px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
  color: #008766;
  z-index: 1;
}

.carte_restaurant__image {
  width: 100%;
  height: 174px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.carte_restaurant_bas {
  width: 96%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  margin-left: 4%;
  color: black;
  text-decoration: none;
}

.carte_restaurant_bas__nom {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 0px;
}

.carte_restaurant_bas__lieu {
  margin-top: 5px;
}

.carte_restaurant_bas__coeur {
  height: 21px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carte_restaurant_bas__coeur .carte_restaurant_bas__coeur--vide {
  font-size: 25px;
  position: absolute;
  bottom: 33px;
  right: 25px;
}
.carte_restaurant_bas__coeur .carte_restaurant_bas__coeur--plein {
  font-size: 25px;
  opacity: 0;
  position: absolute;
  bottom: 33px;
  right: 25px;
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-delay: 500ms;
  transition-duration: 500ms;
}
.carte_restaurant_bas__coeur .carte_restaurant_bas__coeur--plein:hover {
  opacity: 1;
}
.carte_restaurant_bas__coeur .carte_restaurant_bas__coeur--plein:hover::after {
  opacity: 0;
}

/*** FOOTER ***/
.footer_bloc {
  background-color: #353535;
  color: White;
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer_bloc {
    flex-direction: row-reverse;
  }
}
.footer_bloc .footer__titre {
  font-family: "shrikhand";
  font-size: 18px;
  font-weight: 400;
  margin: 0px 0px 26px 0px;
}
@media (min-width: 768px) {
  .footer_bloc .footer__titre {
    margin: 0px 20px 0px 50px;
  }
}
.footer_bloc .footer__mentions {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
@media (min-width: 768px) {
  .footer_bloc .footer__mentions {
    flex-direction: row;
  }
}
.footer_bloc .footer__lien {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  gap: 11px;
  color: white;
  font-weight: 300;
}
.footer_bloc .footer__lien .footer__lien__texte {
  margin: 0px;
}
@media (min-width: 768px) {
  .footer_bloc .footer__txt_ss_logo {
    margin-left: 20px;
  }
}/*# sourceMappingURL=style.css.map */